body {
  font-family: 'Raleway', Arial, sans-serif; 
  background: linear-gradient(to bottom, rgb(255, 255, 153), rgb(253, 253, 60) 50%, rgb(255, 255, 153));
  margin: 0;
  padding: 5% 15%;
}

 a {
  list-style: none;
  text-decoration: none;
  color: rgb(250, 208, 39);
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 50px;
  margin-left: 20%;
}
 a:hover {
  color: rgb(207, 172, 32);
}

h2 {
  text-align: center;
  font-size: 2.5em;
  color:rgb(253, 215, 64);
  margin-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  background-color:rgb(255, 255, 255);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.name-input {
  width: calc(100% - 10px);
  padding: 15px;
  margin-bottom: 15px;
  border:1px solid rgb(245, 222, 17);
  border-radius: 20px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}
input::placeholder {
  color: #999;
}

button {
  background-color: rgb(248, 218, 49) ;
  color:rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: calc(30% - 10px);
  box-sizing: border-box;
}
button:hover {
  background-color: rgb(202, 188, 59);
}
.delete-toDo-button{
  background-color: rgb(250, 98, 106);
  width: calc(25% - 10px);
}
.delete-toDo-button:hover{
  background-color: rgb(226, 16, 26);
}

.toDo-list {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  box-sizing: border-box;
}
th, td {
  padding: 12px;
  border:none;
  text-align: center;
  font-size: 18px;
  color: rgb(119, 119, 119);
}

th {
  background-color: rgb(245, 52, 197);
  color: rgb(255, 255, 255);
  padding: 15px;
}
tr:nth-child(odd) {
  background-color: rgb(255, 238, 250);
}

tr:nth-child(even) {
  background-color: rgb(255, 214, 246); 
}

@media (max-width: 910px) {
body {
    padding: 5% 2%;
}
button {
    width: 40%;
    padding: 6px;
}
.container {
  margin-left: 0px;
}
.delete-toDo-button{
  width: 32%;
  padding: 5px;
}

h1 {
  font-size: 1.5em;
}

table {
  font-size: 16px;
}
  
th, td {
  padding: 6px;
  font-size: 16px;
}
th{
  padding: 15px;
  font-size: 16px;
}
a {
  font-size: 40px;
  margin-left: 10%;
}
}